@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

table {
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ccc;
  padding: 4px 8px;
}